# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyd

# Virtual environments
env/
venv/
ENV/
VENV/

# Logs and databases
*.log
*.sqlite3

# Environment files
.env
.env.*

# VSCode settings
.vscode/

# OS generated
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints

# Output
output/
